{% extends "layout.twig" %}

{% block title %}Editar dados{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<h4>Editando seleçao</h4>
  <div>         
    <form Method ="POST" enctype="multipart/form-data" Action ="?acao=update">
         
    <fieldset>
      <div class="container-fluid">
    
      <font color = 'white'> Atualizar Seleção do projeto: </font>
        
        {% for entity in entities %}
          <label>Projeto: {{entity.id_projeto}}</label> 
          <label>Aluno {{entity.id_aluno}}</label> 
          <label>Nota:</label> 
          <input type='text' name='nota' placeholder="nota"
                    value='{{entity.nota}}' >
          {% if entity.aprovado %}
            <input name="aprovado" type="checkbox" checked>Aprovado?<br>
          {% else %}
            <input name="aprovado" type="checkbox">Aprovado?<br>
          {% endif %}
             <label>Horario de atendimento: </label>
            <select name="listmultiple[]" size="3" multiple="true">
            <option value="1">Manhã</option>
            <option value="2">Tarde</option>
            <option value="4">Noite</option>
          </select>
          
        {% endfor %}

        <p><input type='submit' class="btn" value="Atualizar" name="enviar">
        <input type="button" class="btn" value="Cancelar" onClick="document.location='../View/index.php'"> </p>
    </div>
    </fieldset>
  </form>
</div> 
{% endblock %}