{% extends "layout.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <script src="../helper/Mascaras.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <h4>Cadastro de Departamento</h4>
       
     <div>         
        <form Method ="POST" enctype="multipart/form-data" Action ="?acao=create">
         
        <fieldset>
            <font color = 'white'> Sign up</font>
            <label>Nome:</label> 
                <input type='text' name='nome' placeholder="nome"
                value='{{nome}}' >
                <label>Chefe: </label>
               <select name="chefe">
                {% for prof in professores %}
                <option value="{{prof.id_professor}}">{{prof.nome}}</option>
                {% endfor %}
            </select><br>
            <p><input type='submit' class="btn" value="Register" name="enviar">
                 <input name="limpar" class="btn" type="reset" id="limpar" value="Clean">
                 <input type="button" class="btn" value="Return" onClick="document.location='../View/index.php'"> </p>
       </fieldset>
       </form>
       </div>    

{% endblock %}