{% block menu %}
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		    Meus dados
		    <span class="caret"></span>
	  	</a>
	  	<ul class="dropdown-menu">
		    <li><a href="professor.php?acao=new">Novo cadastro</a></li>		
		    <li><a href="professor.php?acao=edit">Editar dados</a></li>		
		</ul>
	</div>
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		    Projetos de Monitoria
		    <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		    <li><a href="projeto.php?acao=new">Novo projeto</a></li>			    
		    <li><a href="projeto.php?acao=consult">Atualizar meus projetos</a></li>
		</ul>
	</div>
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		    Minhas seleções
		    <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		    <li><a href="selecao.php?acao=new">Criar nova seleção</a></li>			 
		    <li><a href="selecao.php?acao=consult">Atualizar minhas seleções</a></li>
		</ul>
	</div>		
	<div class="btn-group">
	  	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		    Monitorias
		    <span class="caret"></span>
	  	</a>
	  	<ul class="dropdown-menu">
	    	<li><a href="monitoria.php?acao=consult">Atualizar minhas monitorias</a></li>	 
	  	</ul>
	</div>	
	<a href="login.php?acao=sair">Sair</a>						
{% endblock %}
