{% block menu %}
	<div class="btn-group">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		Meus dados
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
	    <li><a href="aluno.php?acao=edit">Editar dados</a></li>		
	</ul>
	</div>
	<div class="btn-group">
	  	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		    Monitorias
		    <span class="caret"></span>
	  	</a>
	  	<ul class="dropdown-menu">
		  	<li><a href="projeto.php?acao=consult">Nova inscrição</a></li>
		    <li><a href="monitoria.php?acao=consultById">Minhas monitorias</a></li>		
		    <li><a href="selecao.php?acao=consultById">Resultados de seleções</a></li>	
		</ul>
	</div>
	<a href="login.php?acao=sair">Sair</a>		
{% endblock %}
